
<h2>Create a celebrity</h2>

<form action="/celebrities/create" method="post" id="create-celebrity">

    <label for="name-input">Celebrity name:</label>
    <input id="name-input" type="text" name="name" placeholder="Chuck Norris"/>

    <label for="occupation-input">Why he/she are know for:</label>
    <input id="occupation-input" type="text" name="occupation" placeholder="First known as a world karate champion, he became an 70s action movie star."/>

    <label for="catchPhrase-input">give us one of his catch phrase</label>
    <input id="catchPhrase-input" type="text" name="catchPhrase" placeholder="When the boogie man goes to sleep he checks his closet for me."/>

    <button type="submit">add this celebrity !</button>

</form>